<%- include("header") -%>

  <body>
    <h5> Home -> <%= services %>
    </h5>
    <div class="service-total">
      <br>

      <br>
      <div class="service-heading">
        <p>Dental Crown And Bridges</p>
      </div>
      <div class="service-item-image"> <img class="img_1" src="g.jpg" class="d-block w-100" alt="...">

      </div>
      <br>

      <div class="service-item-text">
        <hr>
        <div class="service-text-heading"> Lorem ipsum dolor sit amet. </div>

        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi quos repudiandae eveniet, hic eaque
          molestiae incidunt rem accusamus optio iure.
        </p>
        <hr>
        <div class="service-text-heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, veritatis?
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolorem tempora amet ut molestiae vitae et odio
          illo quos pariatur?
        </p>
        <hr>
        <div class="service-text-heading">Lorem ipsum dolor sit amet.</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ullam a nobis sit, eveniet cumque. Natus
          repudiandae perspiciatis totam. Dolorum?
        </p>
        <hr>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, in sed. Placeat laborum ea, labore at ex est
          omnis. Reprehenderit?
          <hr>

        </p>
      </div>
  </body>
  <%- include("footer") -%>