<div class="foot">
  <section class="footer">
    <div class="social">
      <a href="/"><i class="fab fa-instagram"></i></a>
      <a href="/"><i class="fab fa-facebook"></i></a>
      <a href="/"><i class="fab fa-twitter"></i></a>
    </div>
    <ul class="list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/#gallery">Services</a>
      </li>
      <li>
        <a href="/#about">About Us</a>
      </li>
    </ul>
    <p class="copyright">Dental Clinic &copy; <%= new Date().getFullYear() %>
    </p>

  </section>
</div>

</body>

</html>