<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <title>DENTAL CLINIC</title>
  
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body class="p-3 m-0 border-0 bd-example">

  <!-- Navbar  -->

  <nav class="navbar navbar-expand-lg navbar-color my-nav">
    <div class="container-fluid">
      <a class="navbar-brand my-navbar" href="/">DENTAL CLINIC</a>

      <button class="navbar-toggler" style="color: azure;" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-three" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item ">
            <a class="nav-link active navbar-right-side" style="color: azure;" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: azure;" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Location
            </a>
            <ul class="dropdown-menu" style="color:rgb(1, 7, 7) ;">
              <li><a class="dropdown-item" href="/">Location 1</a>
              </li>
              <li><a class="dropdown-item" href="/">Location 2</a></li>
              <li><a class="dropdown-item" href="/">Location 3</a></li>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a href="#gallery" class="nav-link dropdown-toggle" style="color: azure;" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>

            <!-- Form for all the services button -->
            <ul class="dropdown-menu">
              <li>
                <form action="/teeth-whitening" method="get" id="form1">
                  <button type="submit" class="dropdown-item" form="form1">Teeth Whitening</button>
                </form>
              </li>
              <li>
                <form action="/teeth-cleaning" method="get" id="form2">
                  <button type="submit" class="dropdown-item" form="form2">Teeth Cleaning</button>
                </form>
              </li>
              <li>
                <form action="/dental-implants" method="get" id="form3">
                  <button type="submit" class="dropdown-item" form="form3">Dental Implants</button>
                </form>
              </li>
              <li>
                <form action="/orthodortic-treatment" method="get" id="form4">
                  <button type="submit" class="dropdown-item" form="form4">Orthodortic Treatment</button>
                </form>
              </li>
              <li>
                <form action="/root-canal-treatment" method="get" id="form6">
                  <button type="submit" class="dropdown-item" form="form6">Root-Canal Treatment</button>
                </form>
              </li>
              <li>
                <form action="/dental-crown-and-bridges" method="get" id="form7">
                  <button type="submit" class="dropdown-item" form="form7">Dental Crown and Bridges</button>
                </form>
              </li>
              <li>
                <form action="/tooth-extraction" method="get" id="form8">
                  <button type="submit" class="dropdown-item" form="form8">Tooth Extraction</button>
                </form>
              </li>
              <li>
                <form action="/tooth-coloured-filling" method="get" id="form9">
                  <button type="submit" class="dropdown-item" form="form9">Tooth coloured filling</button>
                </form>
              </li>
              <li>
                <form action="/clear-aligner" method="get" id="form10">
                  <button type="submit" class="dropdown-item" form="form10">Clear Aligner</button>
                </form>
              </li>
              <li>
                <form action="/oral-cancer-treatment" method="get" id="form11">
                  <button type="submit" class="dropdown-item" form="form11">Oral Cancer Treatment</button>
                </form>
              </li>
              <li>
                <form action="/dentures" method="get" id="form12">
                  <button type="submit" class="dropdown-item" form="form12">Dentures</button>
                </form>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color: azure;" href="#gallery">Facilities</a>
          </li>

          <li class="nav-item ">
            <a class="nav-link active navbar-right-side" style="color: azure;" aria-current="page" href="/login">Admin
              Login</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div id="carouselExampleInterval" class="carousel slide my-slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active " data-bs-interval="400">
        <img src="d.jpg" class="myCarouselImg" alt="...">
      </div>
      <div class="carousel-item " data-bs-interval="400">
        <img src="a.jpg" class="myCarouselImg" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="c.jpg" class="myCarouselImg" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--  -->
  <div>
    <h1 class="quote-a-smile">Quote a smile</h1>
  </div>
  <div class="register page">
    <form action="/book-appointment" method="get" id="form1">
      <button type="submit" class="btn btn-primary" style="margin: 0% 39%; padding: 10px;"> Register</button>
    </form>
  </div>
  <!--  -->
  <div class="description" id="about">
    <div class="flex-container">
      <div class="flex-item-right">
        <h1>Contact Us</h1>
        <h2>Phone number</h2>
        <h4>(+0)123-4567890</h4>
        <h2>E-mail</h2>
        <h4>abc@email.com</h4>
        <h6>Address: 123-A, Street-1, City name</h6>
      </div>
    </div>
    <!--Gallery area-->
    <div class="container" id="gallery">
      <div class="row">
        <div class="col-lg-12 text-center my-2">

          <h1>Facilities</h1>
        </div>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="e.jpg">
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="f.jpg">
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="g.jpg">
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="k.jpg">
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="a.jpg">
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="b.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--footer design-->
  <div class="foot">
    <section class="footer">
      <div class="social">
        <a href="/"><i class="fab fa-instagram"></i></a>
        <a href="/"><i class="fab fa-facebook"></i></a>
        <a href="/"><i class="fab fa-twitter"></i></a>
      </div>
      <ul class="list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#gallery">Services</a>
        </li>
        <li>
          <a href="#about">About Us</a>
        </li>
      </ul>
      <p class="copyright">Dental Clinic &copy; <%= new Date().getFullYear() %>
      </p>

    </section>
  </div>

</body>

</html>