<%- include("header") -%>


<!-- <body class="text-center"> -->
    
<main class="form-signin w-100 m-auto">
  <form action="/login" method="post">
    <h1 class="h3 mb-3 fw-normal">Please Login in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  </form>
</main>


  <%- include("footer") -%>

